{% extends '_layout' %}

{% block main %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{ entry.title }}</h1>
                    <h2 class="subheading">{{ entry.blogIntroduction }}</h2>
                    <span class="meta">Posted by
                <a href="#">{{ entry.author }}</a>
                on {{ entry.postDate | date("F d, Y") }} under {% for category in entry.category %}{{ category }}{% endfor %}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{ entry.blogBody }}
            </div>
        </div>
    </div>
</article>

<hr>

{% endblock %}